<!DOCTYPE html>
<html lang="en">

  <head>
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<body id="page-top">
  
  <!-- top navbar -->
  <nav class="navbar navbar-expand-lg sticky-top navbar-light" style="background-color: aliceblue">
      <a class="navbar-brand" href="#">Edgar's Website</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Resume <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
          </li>
          
        </ul>
      </div>
    </nav>

    <!--side nav bar-->
    <div id="wrapper" class="toggled">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li>
                    <a href="#">
                      <img src="assets/me.png" alt="me" id="me">
                    </a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Experience</a>
                </li>
                <li>
                    <a href="#">Projects</a>
                </li>
                <li>
                    <a [routerLink]="['.']" fragment="education" (click)="onAnchorClick()">Education</a>
                </li>
                <li>
                    <a href="#">Skills</a>
                </li>
                <li>
                    <a href="#">Interests</a>
                </li>
                <li>
                    <a href="#">Competitions and Extra-Curriculars</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

    

    <div class="container-fluid p-0">
      <!--About me-->
      <section class="p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
          <h1 class="mb=0">Edgar-Saul <span class="text-primary">Jimenez-Virgen</span></h1>
          <div class="subheading mb-5" id="phoneEmail">(###) ###-#### · <a href="mailto:email@gmail.com">email@gmail.com</a>
          </div>
          <p class="resume-smallerFont mb-5">Computer Science graduate looking for a full time position in software testing or development. </p>
          <ul class="list-inline list-social-icons mb-0">
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x">
                    
                  </i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse">
                    
                  </i>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </section>

      <!--experience-->
      <section class="p-3 p-lg-5 d-flex flex-column" id="experience">
        <div class="my-auto"> 
          <h2 class="mb-5">Experience</h2>
          <!-- work experience 1-->
          <div class="d-flex flex-column flex-md-row mb-5">
            <div class="mr-auto">
              <h3 class="mb-0">Product Team Developer Intern</h3>
              <div class="resume-smallerFont subheading mb-3">VSP</div>
              <p class="resume-smallerFont"><b>WireMock</b><br>
                  Worked with fellow interns to continue development on a service virtualization project. The goal was to mock data for testing purposes. I served as change agent and developer, under a Kanban agile methodology. I led retrospectives and developed stories for the project. 
                  <br>
                  <br>
                  <b>MarkDown Creator</b><br>
                  Worked with fellow interns to create the Markdown creator, which generates readmes for projects. I developed a scrum board and encouraged agile methodologies for this project. I served as both developer and scrum master.
                  <br>
                  <br>
                  <b>PBEC Product team / Rating Product team</b><br>
                  On PBEC I utilized java rules engine (drools) to write business rules which would fire depending on conditions being met. On Rating, I developed story scenarios using Jbehave to create automated tests.
                  </p>
            </div>
            <div class="resume-date text-md-right" id="resume-date">
              <span class="text-primary">5/15 - 4/16</span>
            </div>
          </div>
          <!-- end of work experience 1-->
          <!-- work experience 2-->
          
          <!-- end of work experience 2-->
        </div>
      </section>

      <!--project experience-->
      <section class="p-3 p-lg-5 d-flex flex-column" id="experience">
          <div class="my-auto"> 
            <h2 class="mb-5"> Project Experience</h2>
            <!-- project experience 1-->
            <div class="d-flex flex-column flex-md-row mb-5">
              <div class="mr-auto">
                <h3 class="mb-0">Senior Project - Inventory System</h3>
                <div class="resume-smallerFont subheading mb-3">Pancake Circus restaurant</div>
                <p class="resume-smallerFont">As a member of a 6 person student team, we developed a full-stack,
                   web based inventory management system for a small business diner, utilizing a database,
                    API, and web development framework.</p>
              </div>
              <div class="resume-date text-md-right" id="resume-date">
                <span class="text-primary">8/16 - 5/17</span>
              </div>
            </div>
            <!-- end of project experience 1-->
            <!-- work experience 2-->
            
            <!-- end of work experience 2-->
          </div>
        </section>

        <!-- Education -->
      <section class="p-3 p-lg-5 d-flex flex-column" id="education">
          <div class="my-auto"> 
            <h2 class="mb-5">Education</h2>
            <!-- education experience 1-->
            <div class="d-flex flex-column flex-md-row mb-5">
              <div class="mr-auto">
                <h3 class="mb-0">CALIFORNIA STATE UNIVERSITY, SACRAMENTO</h3>
                <div class="resume-smallerFont subheading mb-3">BACHELOR OF SCIENCE</div>
                <p class="resume-smallerFont">Computer Science</p>
              </div>
              <div class="resume-date text-md-right" id="resume-date">
                <span class="text-primary">Graduated May 2017</span>
              </div>
            </div>
            <!-- end of education experience 1-->
            <!-- work experience 2-->
            
            <!-- end of work experience 2-->
          </div>
      </section>

      <!-- skills section-->
      <section class="p-3 p-lg-5 d-flex flex-column" id="skills">
        <div class="my-auto">
          <h2 class="mb-5">Skills</h2>
          <div class="resume-smallerFont subheading mb-3"><b>Programming Languages and Tools</b></div>
          <p class="resume-smallerFont">Java, SQL, Angular, Bootstrap Typescript, Jasmine unit testing, Git, Agile methodologies,
             Jira, Maven, Gradle, HTML/CSS, Drools business rules management system, Behavior Driven Development (Jbehave)
          </p>

          <div class="resume-smallerFont subheading mb-3"><b>Personal Skills</b></div>
          <p class="resume-smallerFont">Pursues leadership roles, flourishes in team environment,
             constantly exudes positive attitude
              Bilingual (English/Spanish), communicates effectively on team projects
          </p>
        </div>
      </section>

      <!--interests section-->
      <section class="p-3 p-lg-5 d-flex flex-column" id="interests">
          <div class="my-auto">
            <h2 class="mb-5">Interests</h2>
            <p class="resume-smallerFont">In my spare time I enjoy walking my dog, catching up on the latest shows on netflix,
               and playing video-games, especially Overwatch (Sombra main).</p>
          
          </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="awards">
          <div class="my-auto">
            <h2 class="mb-5">Programming Competitions and Extra-Curriculars</h2>
            <ul class="fa-ul mb-0">
              <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                Microsoft “Modern Entrepreneur” Hackathon with ACM</li>
              <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                Intel “Project Anarchy” Hackathon with SHPE</li>
              <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                Vice President / Club Chair | The Association For Computing Machinery – Sac State</li>
              <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                Member of Society of Hispanic Engineers (SHPE)</li>
              <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                MESA Engineering Program (MEP)</li>
              
            </ul>
          </div>
        </section>



      
    </div>
  </div>

</body>
</html>



